<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="DoctorDetails.css">
    </head>

    <body>
        <div class="header">

            <div class="title">Doctor Details</div>

        </div>

        <div class="information">

        </div>

        <div class="footer">

            <form th:action="@{/doctorDetailsPage}" method="post">
                <button class="backButton">Back</button>
            </form>

        </div>

        <script src = "DoctorDetails.js"></script>
    </body>
</html>